<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-th-list"></i> Filters
    </div>

    <ul class="list-group" ng-repeat="parent in root.categories track by parent.id">
        <li ng-if="parent.visible" class="btn-group btn-group-justified" role="group">
            <a ng-class="{selected:child.selected, disabled: child.disabled}" ng-click="changeSelectCategory(parent.id, child.id)" class="btn btn-default" role="button" ng-repeat="child in categories[parent.id].categories track by child.id">{{child.name}}</a>
        </li>
    </ul>

</div>
