<div class="panel panel-danger">
    <div class="panel-heading">
        <a href="#" ng-init="eventUrl = '/' + city + '/events/' + event.id " ng-href="{{eventUrl}}">{{event.title}}</a>
        <a href="#" class="text-right" ng-if="event.sequence">#{{event.sequence}}</a>
        <sharesocial data-message="'Check this out'" data-url="eventUrl | fullUrl">
        </sharesocial>
    </div>

    <div class="panel-body">
        <p><i class="fa fa-calendar fa-lg"> </i> {{event.start.dateTime | date: 'EEEE, MMMM d h:mma' }}</p>
        <p> <i class="fa fa-clock-o fa-lg"></i> {{event.duration}} hours</p>
        <p><i ng-if="event.location" class="fa fa-map-marker fa-lg"></i> <a ng-href="/{{city}}/locations/{{event.location.id}}">{{event.location.name}} - {{event.location.address}}</a>
        </p>
        <p>
            <ul class="list-inline">
                <li class="fa fa-list fa-lg"></li>
                <li ng-repeat="category in event.categories track by $index">{{category}}</li>
            </ul>
        </p>
    </div>
</div>
