<div class="card shadow">
  <div class="card-image">
    <uploadimage data-item="event" data-options="{editimage : true}" data-type="'event'"></uploadimage>
    <span class="elipsis card-title">
      <a ng-href="{{event.detailsUrl}}">{{event.name}}</a>
    </span>
  </div>
  <div class="card-content clearfix">
    <form name="eventForm">

      <div class="form-group" ng-class="{'has-error' : isInvalid('title')}">
        <label for="title">Title</label>
        <input name="title" required="true" class="form-control" id="title" ng-model="event.name" placeholder="Title" type="title">
      </div>

      <div class="form-group" ng-class="{'has-error' : isInvalid('description')}">
        <label for="description" translate>Description (use #hashtags)</label>
        <textarea name="description" required="true" class="form-control code" id="description" msd-elastic name="description" ng-model="event.description" ng-trim="false" smart-area="smartarea.description" spellcheck="false"></textarea>
        <span class="has-error" ng-show="isInvalid('description')" translate>The description should contain at least #party or #class </span>
      </div>

      <div class="form-group">
        <label for="samelocation" translate>Use the same address and phone</label>
        <input ng-model="options.samelocation" type="checkbox">
      </div>

      <div ng-show="!options.samelocation || isInvalid('address') || isInvalid('url')">
        <div class="form-group" ng-class="{'has-error' : isInvalid('phone')}">
          <label for="title" translate>Phone Number</label>
          <br/>
          <input name="phone" class="form-control" default-country="ca" id="phone" international-phone-number ng-model="event.location.phone">
        </div>

        <div class="form-group" ng-class="{'has-error' : isInvalid('url')}">
          <label for="title" translate>Website</label>
          <input name="url" required="true" class="form-control" id="title" ng-model="event.location.url" placeholder="http://www.myevent.com" type="url">
        </div>

        <div class="form-group" ng-class="{'has-error' : isInvalid('address')}">
          <label for="address" translate>Address</label>
          <input name="address"  autocomplete class="form-control" data-location="event.location" id="address" ng-model="event.location.address" placeholder="Address" required="true" type="input">
          <span class="has-error" ng-show="isInvalid('address')">The address should be valid and located on the map</span>
          <div class="text-center" ng-if="hasCoordinates()">
            <img src="https://maps.googleapis.com/maps/api/staticmap?maptype=terrain&amp;center={{event.location.coordinates.latitude}},{{event.location.coordinates.longitude}}&amp;markers=color:blue|label:A|{{event.location.coordinates.latitude}},{{event.location.coordinates.longitude}}&amp;zoom=14&amp;size=320x200&amp;key=AIzaSyBMz9TgJkerLAN9fTCUZajRx5RDxYSzuDs">
          </div>
        </div>

      </div>

      <div class="form-group" ng-class="{'has-error' : isInvalid('startTime')}">
        <label for="startDate" translate>Start:
        </label>
        <div class="dropdown">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#" id="startDateSelector" role="button">
            <div class="input-group">
              <input name="startTime" required="true" class="form-control" data-ng-model="selections.localTime.start" name="input" placeholder="yyyy-MM-ddTHH:mm" required type="datetime-local"/>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
            <datetimepicker data-datetimepicker-config="{ minView : 'minute' }" data-ng-model="selections.localTime.start"></datetimepicker>
          </ul>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error' : isInvalid('endTime')}">
        <label for="startDate" translate>Until:
        </label>
        <div class="dropdown">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#" id="startDateSelector" role="button">
            <div class="input-group">
              <input name="endTime" required="true" class="form-control" data-ng-model="selections.localTime.end" name="input" placeholder="yyyy-MM-ddTHH:mm" required type="datetime-local"/>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
            <datetimepicker data-datetimepicker-config="{ minView : 'minute' }" data-ng-model="selections.localTime.end"></datetimepicker>
          </ul>
        </div>
      </div>
      <label translate>Duration: {{getDuration()}} hour(s)</label>

      <div class="form-group" ng-class="{'has-error' : isInvalid('times')}">
        <label><input ng-model="selections.repeat" type="checkbox"><span translate>Season</span></label>
        <label ng-show="selections.repeat"><input max="15" min="0" name="times" ng-model="selections.count" required type="number"><span translate>Times (15 max)</span></label>
      </div>
      <div class="form-group" ng-show="selections.repeat">
        <label ng-repeat="dow in allDows"><input ng-model="selections.dows[dow.id]" type="checkbox">{{dow.name}}</label>
      </div>

      <label>{{selections.ruleText}}</label>

    </form>

  </div>
  <div class="card-action clearfix">
    <div class="pull-right">
      <a class="btn btn-icon" ng-click="save()">
        <i class="fa fa-save fa-2x"></i>
      </a>
      <a class="btn btn-icon" ng-click="cancel()">
        <i class="fa fa-undo fa-2x"></i>
      </a>
    </div>
  </div>
</div>
