<div class="card shadow">
  <div class="card-image">
    <uploadimage data-item="event" data-options="{editimage : true}" data-type="'event'"></uploadimage>
    <span class="elipsis card-title">
      <a ng-href="{{event.detailsUrl}}">{{event.name}}</a>
    </span>
  </div>
  <div class="card-content clearfix">
    <form name="eventForm">

      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" ng-model="event.name" placeholder="Title" type="title">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control code" id="description" msd-elastic name="description" ng-model="event.description" ng-trim="false" smart-area="smartarea.description" spellcheck="false"></textarea>
      </div>

      <div class="form-group">
        <label for="samelocation">Use the same address and phone</label>
        <input ng-model="options.samelocation" type="checkbox">
      </div>

      <div ng-if="!options.samelocation">
        <div class="form-group">
          <label for="title">Phone Number</label>
          <br/>
          <input class="form-control" default-country="ca" id="phone" international-phone-number ng-model="event.location.phone">
        </div>

        <div class="form-group">
          <label for="title">Url</label>
          <input class="form-control" id="title" ng-model="event.location.url" placeholder="http://www.myevent.com" type="url">
        </div>

        <div class="form-group">
          <label for="addressId">Address</label>
          <input autocomplete class="form-control" data-location="event.location" id="addressId" name="address" ng-model="event.location.address" placeholder="Address" required="true" type="input">
        </div>
        <div class="form-inline">
          <label>Coordinates:
          </label>
          <input class="form-control" ng-model="event.location.coordinates.longitude" placeholder="Longitude" required="true" type="input" type="number">
          <input class="form-control" ng-model="event.location.coordinates.latitude" placeholder="Latitude" required="true" type="input" type="number">
        </div>
      </div>

      <div class="form-group">
        <label for="startDate">Start:
        </label>
        <div class="dropdown">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#" id="startDateSelector" role="button">
            <div class="input-group">
              <input class="form-control" data-ng-model="event.start.dateTime" name="input" placeholder="yyyy-MM-ddTHH:mm" required type="datetime-local"/>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
            <datetimepicker data-datetimepicker-config="{ minView : 'minute' }" data-ng-model="event.start.dateTime"></datetimepicker>
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label for="startDate">Until:
        </label>
        <div class="dropdown">
          <a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#" id="startDateSelector" role="button">
            <div class="input-group">
              <input class="form-control" data-ng-model="event.end.dateTime" name="input" placeholder="yyyy-MM-ddTHH:mm" required type="datetime-local"/>
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul aria-labelledby="dLabel" class="dropdown-menu" role="menu">
            <datetimepicker data-datetimepicker-config="{ minView : 'minute' }" data-ng-model="event.end.dateTime"></datetimepicker>
          </ul>
        </div>
      </div>
      <label>Duration:
        {{getDuration()}}
        hour(s)</label>
    </form>

  </div>
  <div class="card-action clearfix">
    <div class="pull-right">
      <a class="btn btn-icon" ng-click="save()">
        <i class="fa fa-save fa-2x"></i>
      </a>
      <a class="btn btn-icon" ng-click="cancel()">
        <i class="fa fa-remove fa-2x"></i>
      </a>
    </div>
  </div>
</div>
