<div class="card shadow">
  <div class="card-image">
    <uploadimage data-item="event" data-type="'event'"></uploadimage>
    <span class="elipsis card-title"><a ng-href="{{event.detailsUrl}}">{{event.name}}</a></span>
  </div>
  <div class="card-content clearfix">
    <p ng-bind-html="event.description | hashtags"></p>
  </div>
  <div class="card-action clearfix">
    <div class="pull-left">
      <p><i class="fa fa-calendar fa-lg"> </i> {{event.start.dateTime | calendar }}
      <i class="fa fa-clock-o fa-lg"></i> {{event.duration}} hour(s)</p>
      <p><i class="fa fa-map-marker fa-lg"></i><a ng-href="{{event.detailsUrl}}">{{event.location.address}}</a></p>
    </div>
    <div class="pull-right">
      <!-- <sharesocial data-message="'Check this out'" data-url="event.detailsUrl | fullUrl"></sharesocial> -->
      <a class="btn btn-icon" ng-if="event.location.url" ng-href="{{event.location.url}}" target="window">
        <i class="fa fa-globe fa-2x"></i>
      </a>
      <a class="btn btn-icon" ng-if="options.details" ng-href="{{event.detailsUrl}}">
        <i class="fa fa-ellipsis-h fa-2x"></i>
      </a>
    </div>
  </div>
</div>
