<div class="card shadow">
  <div class="card-image">
    <uploadimage data-location="event"></uploadimage>
    <span class="elipsis card-title"><a ng-href="{{event.detailsUrl}}">{{event.name}}</a></span>
  </div>
  <div class="card-action clearfix">
    <div class="pull-left">
      <p><i class="fa fa-calendar fa-lg"> </i> {{event.start.dateTime | calendar }}</p>
      <p> <i class="fa fa-clock-o fa-lg"></i> {{event.duration}} hours</p>
    </div>
    <div class="pull-right">
      <!-- <sharesocial data-message="'Check this out'" data-url="event.detailsUrl | fullUrl"></sharesocial> -->

      <simplerate class="btn-icon" data-category="'favorite'" data-rateable="event"></simplerate>
      <a class="btn btn-icon" ng-href="{{event.detailsUrl}}">
        <i class="fa fa-ellipsis-h fa-2x"></i>
      </a>
    </div>
  </div>
</div>
