<div>

  <div class="card shadow">
    <div class="card-image">
      <uploadimage data-item="location" data-type="'location'"></uploadimage>
      <span class="elipsis card-title">
        <a ng-href="{{location.detailsUrl}}">{{location.name}}</a>
      </span>
    </div>

    <div class="card-action clearfix">
      <div class="pull-left">
        <a class="btn btn-icon" ng-href="{{'tel://' + location.phone}}" ng-if="location.phone">
          <i class="fa fa-phone fa-2x"></i>
        </a>
        <a class="btn btn-icon" ng-href="{{location.url}}" target="window">
          <i class="fa fa-globe fa-2x"></i>
        </a>
        <a class="btn btn-iEcon" ng-click="createEvent()" ng-if="options.event">
          <i class="fa fa-calendar-plus-o fa-2x"></i>
        </a>
      </div>
      <div class="pull-right">
        <simplerate class="btn-icon" data-category="'favorite'" data-rateable="location"></simplerate>
        <a class="btn btn-icon" ng-if="options.delete" ng-click="delete()">
          <i class="fa fa-remove fa-2x"></i>
        </a>
        <a class="btn btn-icon" ng-if="options.edit" ng-href="{{location.detailsUrl}}/edit">
          <i class="fa fa-edit fa-2x"></i>
        </a>
        <a class="btn btn-icon" ng-click="toogleComments()" ng-if="location.comments.length > 0">
          <i class="fa fa-comments fa-2x">
            <span class="number">{{location.comments.length}}</span>
          </i>
        </a>
        <a class="btn btn-icon" ng-href="{{location.detailsUrl}}" ng-if="options.details">
          <i class="fa fa-ellipsis-h fa-2x"></i>
        </a>
      </div>
    </div>

    <comments data-commentable="location" data-expanded="showComments"></comments>

  </div>

  <editableeventcard data-location="location" data-options="{samelocation:true}" ng-if="creatingEvent"></editableeventcard>

</div>
