<div class="modal fade" id="auth-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <h4 class="modal-title">Authentication Required</h4>
      </div>
      <div class="modal-body text-center">
        <form ua-login>
          <p>
            <button class="btn btn-lg btn-google" ua-oauth-link="google">
              <i class="fa fa-google"></i>
              Login With Gmail
            </button>
          </p>
          <p>
            <button class="btn btn-lg btn-facebook" ua-oauth-link="facebook">
              <i class="fa fa-facebook"></i>
              Login With Facebook
            </button>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" type="button">No, thanks</button>
      </div>
    </div>
  </div>
</div>
