<div style="display: inline-block;  text-align: left;">

<h2>Why your school should be on UpSalsa?</h2>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-users"></i>Reach more students/dancers.</li>
  <li><i class="fa-li fa fa-search"></i>Get more visibility in search engines.</li>
  <li><i class="fa-li fa fa-calendar"></i>Promote your classes, workshops and events to our community.</li>
  <li><i class="fa-li fa fa-facebook"></i>Benefit from our presence on social media.</li>
  <li><i class="fa-li fa fa-mobile"></i>Obtain a mobile friendly page and improved SEO.</li>
</ul>
<h4>Watch the video and create your profile today!</h4>

</div>
