<div style="display: inline-block;  text-align: left;">

<h2>Why your school should be on <i style="color:red">UpSalsa</i> ?</h2>
<ul class="fa-ul">
  <li><i class="fa-li fa fa-users fa-2x"></i><h3>Reach more students/dancers.</h3></li>
  <li><i class="fa-li fa fa-search fa-2x"></i><h3>Get more visibility in search engines.</h3></li>
  <li><i class="fa-li fa fa-calendar fa-2x"></i><h3>Promote your classes, workshops and events to our community.</h3></li>
  <li><i class="fa-li fa fa-facebook fa-2x"></i><h3>Benefit from our presence on social media.</h3></li>
  <li><i class="fa-li fa fa-mobile fa-2x"></i><h3>Obtain a mobile friendly page and improved SEO.</h3></li>
</ul>

</div>
<div class="hidden-xs">
  <img alt="How to start" src="/images/images/howToStart.gif"></img>
</div>
