<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <button class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse" type="button">
      <span class="sr-only" translate>Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="/{{city}}">
        <img alt="Find the best place to dance" height="60" id="logo-header" src="assets/img/logo1-default.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ng-href="/{{city}}/locations/create" translate>Add Your School</a>
        </li>
        <li>
          <a ng-href="/{{city}}/locations" translate>Schools</a>
        </li>
        <li>
          <a ng-href="/{{city}}/categories/party/events" translate>Events</a>
        </li>
        <li>
          <a ng-href="/about" translate>About Us</a>
        </li>
        <li>
          <a ng-click="toogleLanguage()" >{{currentLanguage | uppercase}}</a>
        </li>
        <li ng-if="auth.isAuthenticated">
          <a ng-click="logout()" translate>Log Out</a>
        </li>
        <li ng-if="!auth.isAuthenticated">
          <a ng-click="signin()" translate>Log In</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>
