<div class="footer navbar navbar-bottom navbar-inverse text-center">
    <p>
        <a href="mailto:upsalsa@gmail.com"><i class="fa fa-envelope-o fa-lg">admin@upsalsa.com</i></a>
        | <a class="addthis_button_facebook_like" fb:like:href="https://www.facebook.com/UpSalsa-1489164438032827/"></a>
        <!-- Your like button code -->
        <br/>
    </p>
    <p>
        <span translate>2015 &copy; All Rights Reserved.</span>
        <a href="/privacy" translate>Privacy Policy</a> | <a href="/terms" translate>Terms of Service</a>
    </p>
</div>
