<div class="container">
    User info: {{profile}}

    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div ng-repeat="location in locations">
                <locationcard data-location="location" data-city="city" data-ng-mouseenter="highlightLocation(location)" > </locationcard>
            </div>
        </div>


        <div class="hidden-xs col-md-5 sidebar-outer">
            <div id="fixedColunm" class="locations">
                <div id="map-canvas" class="hidden-xs col-md-5">
                </div>
            </div>
        </div>

    </div>
</div>
