<div class="container">
  <div class="row">
    <p ng-if="loading">
      <i class="fa fa-spinner fa-spin fa-2x"></i>Loading</p>
    <div class="col-xs-12 col-md-7" ng-if="isListView">
      <div ng-repeat="location in locations">
        <locationcard data-city="city" data-location="location" data-ng-mouseenter="highlightLocation(location)"></locationcard>
      </div>
    </div>

    <div class="col-xs-12 col-md-5 google-maps " ng-hide="!isMapView">
      <iframe frameborder="0" id="maps-iframe" style="border:0"></iframe>
    </div>

    <div class="col-xs-12 col-md-5">
      <iframe allowtransparency="true" frameborder="0" height="320" scrolling="no" seamless="seamless" src="http://files.quizsnack.com/iframe/embed.html?hash=q7niec1o&width=320&height=320&wmode=transparent&t=1438729706&width=320&height=320" width="320"></iframe>
    </div>
  </div>
</div>
<div id="toogle-map" ng-click="toogleView()" ng-if="canToggleView">
  <i class="fa fa-2x" ng-class="isMapView ? 'fa-list' : 'fa-map-o' "></i>
</div>
