<div class="container-fluid">
  <div class="row">
    <p ng-if="loading">
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </p>
    <div class="col-xs-12 col-md-5 col-md-offset-1" ng-if="isListView">

      <div infinite-scroll-distance="3" infinite-scroll="loadMore()">
        <div ng-repeat="location in locations">
          <locationcard data-city="city" data-location="location" data-ng-mouseenter="highlightLocation(location)"></locationcard>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-5 google-maps" ng-hide="!isMapView">
      <iframe frameborder="0" id="maps-iframe" style="border:0"></iframe>
    </div>
  </div>
</div>

<div id="toogle-map" ng-click="toogleView()" ng-if="canToggleView">
  <p>
    <i class="fa fa-2x" ng-class="isMapView ? 'fa-list' : 'fa-map-o' "></i>
    {{isMapView ? 'Show List' : 'Show Map' }}</p>
</div>
