<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn-u btn-brd " ng-click="restoreFilters()">Reset</button>
        <button class="btn-u btn-brd pull-right" ng-click="isCollapsed = !isCollapsed">Toggle</button>
    </div>



    <ul collapse="isCollapsed" class="list-group" ng-repeat="root in rootCategories">
        <li ng-if="root.visible" class="list-group-item">
            <div class="btn-group" ng-repeat="category in categories[root.id]">
                <label ng-if="category.visible" class="btn-u btn-brd rounded btn-responsive" data-toggle="button" ng-model="selectedCategories[root.id]" btn-radio="'{{category.id}}'" uncheckable>{{category.name}}</label> &nbsp;
            </div>
        </li>
    </ul>

</div>