<p>Category: {{categoryTree.name}} Selection: {{selectedCategories[categoryTree.id]}}</p>

<div class="btn-group" ng-repeat="child in categoryTree.categories">
    <label class="btn btn-primary" ng-if="!child.isRoot"  ng-model="selectedCategories[categoryTree.id]" btn-radio="'{{child.id}}'">{{child.name}}</label> <br/>
</div>

<div class="btn-group" ng-repeat="child in categoryTree.categories">
    <div ng-if="showSubcategories(child, categoryTree)" >
        <br/>
        <div ng-init="categoryTree = child" ng-include="CONFIG.CATEGORY_SELECTOR">
        </div>
        <br/>
    </div>
</div>
