<div class="panel panel-danger">

    <div class="panel-heading"><a href="/{{city}}/events/{{event.id}}">{{event.title}}</a>
    </div>

    <div class="panel-body">
        <p><i class="fa fa-calendar fa-lg"> </i> {{event.start.dateTime | date: 'EEEE, MMMM d h:mma' }}</p>
        <p> <i class="fa fa-clock-o fa-lg"></i> {{event.duration}} hours</p>
        <p><i ng-if="event.location" class="fa fa-map-marker fa-lg"></i> <a href="/{{city}}/locations/{{event.location.id}}">{{event.location.name}} - {{event.location.address}}</a>
        </p>
        <p>
            <ul class="list-inline">
                <li class="fa fa-list fa-lg"></li>
                <li ng-repeat="category in event.categories track by $index">{{category}}</li>
            </ul>
        </p>
    </div>
</div>
