<div class="panel panel-danger">
    <div class="panel-heading"><a href="/{{city}}/locations/{{location.id}}">{{location.name}}</a>
    </div>
    <div class="panel-body">
        <p><i class="fa fa-phone fa-lg"> </i>  <a href="tel:{{location.phone}}">{{location.phone}}</a> </p>
        <p><i class="fa fa-globe fa-lg"></i> <a target="window" href="{{location.url}}">{{location.url}}</a>
        </p>
        <p><i class="fa fa-map-marker fa-lg"></i> <a href="/{{city}}/locations/{{location.id}}">{{location.address}}</a>
        </p>
    </div>
</div>
