<ul class="list-inline">
  <li class="list-group-item"  data-ng-if="rating.votes" data-ng-repeat="rating in ratings">

    <ul class="list-inline">
      <li>
        {{rating.category.name}}
      </li>
      <li>
        <a data-ng-click="rate(rating, 'up')" data-ng-disabled="rating.voted">
          <i class="fa fa-2x" data-ng-class="( isRated(rating, 'up') ? 'fa-thumbs-up': 'fa-thumbs-o-up')">
            {{rating.votes['up']}}
          </i>
        </a>
      </li>
      <li>
        <a ng-click="rate(rating, 'down')">
          <i class="fa fa-2x" data-ng-class="(  isRated(rating, 'down') ? 'fa-thumbs-down': 'fa-thumbs-o-down')">
            {{rating.votes['down']}}
          </i>
        </a>
      </li>
    </ul>

  </li>

  <li data-ng-if="current" class="list-group-item">
    <ul class="list-inline" data-ng-if="current">
      <li>
        {{current.category.name}}
      </li>
      <li>
        <a data-ng-click="rate(current, 'up')">
          <i class="fa fa-thumbs-o-up fa-2x"></i>
        </a>
      </li>

      <li>
        <a data-ng-click="rate(current, 'down')">
          <i class="fa fa-thumbs-o-down fa-2x"></i>
        </a>
      </li>
    </ul>
  </li>

</ul>
