<ul class="list-inline">
  <li class="list-group-item" data-ng-repeat="rating in displayRatings">
    <ul class="list-inline">
      <li>
        {{rating.category.name}}
      </li>
      <li>
        <a href="#" data-ng-click="rate(rating, 'up')">
          <i class="fa" data-ng-class="( isRated(rating, 'up') ? 'fa-thumbs-up': 'fa-thumbs-o-up')">
            {{rating.votes['up']}}
          </i>
        </a>
      </li>
      <li>
        <a href="#" ng-click="rate(rating, 'down')">
          <i class="fa" data-ng-class="( isRated(rating, 'down') ? 'fa-thumbs-down': 'fa-thumbs-o-down')">
            {{rating.votes['down']}}
          </i>
        </a>
      </li>
    </ul>
  </li>
  <a href="#" ng-click="toogleMore()">
    <i class="fa" ng-class="showAll ? 'fa-minus' : 'fa-plus'">
      {{showAll ? 'less' : 'more'}}
    </i>
  </a>
</ul>
