<ul class="list-inline">
    <!-- <li><a ng-href="http://www.facebook.com/sharer.php?t={{message}}&amp;u={{url}}" target="window"><i class="fa fa-facebook fa-2x"></i></a>
</li>
 -->
    <li>
        <a ng-href="https://twitter.com/intent/tweet?text={{message}}&amp;url={{url}}" target="window">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </li>
    <li>
        <a ng-href="whatsapp://send?text={{message}} {{url}}">
            <i class="fa fa-whatsapp fa-2x"></i>
        </a>
    </li>
</ul>
