<ul class="list-inline">
    <li>
        <a data-ng-href="{{facebookUrl}}" target="_blank" ng-click="share(facebookUrl, $event);">
            <i class="fa fa-facebook fa-2x"></i>
        </a>
    </li>

    <li>
        <a data-ng-href="{{twitterUrl}}" ng-click="share(twitterUrl, $event);" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
    </li>
    <li>
        <a data-ng-href="{{whatsappUrl}}">
            <i class="fa fa-whatsapp fa-2x"></i>
        </a>
    </li>
</ul>
