    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>FIND A</i> <br /> <i>GREAT PLACE</i> <br /> <i>TO DANCE!</i></h2>
                <p><i>Find the best places </i> <br /> <i>with the music of</i> <br /> <i> your preference now.</i></p>
                <div class="da-img"><img class="img-responsive" src="assets/plugins/parallax-slider/img/1.png" alt=""></div>
            </div>

            <div class="da-slide">
                <h2><i>IMPROVE YOUR SALSA</i> <br /> <i>WITH</i> <br /> <i>LADY STYLING</i></h2>
                <p><i>Take </i> <br /> <i>salsa to the next level</i> <br /> <i> and be ready to impress.</i></p>
                <div class="da-img"><img class="img-responsive" src="assets/plugins/parallax-slider/img/2.png" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>KIZOMBA</i> <br /> <i>IS NOT JUST FOR </i> <br /> <i>COUPLES</i></h2>
                <p><i>Learn a dance</i> <br /> <i>that is captivating the</i> <br /> <i>world with it's sensuality.</i></p>
                <div class="da-img"><img class="img-responsive" src="assets/plugins/parallax-slider/img/3.png" alt="" /></div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->