<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img height="60" id="logo-header" src="assets/img/logo1-default.png" alt="Find the best place to dance">
            </a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Find Class</a>
                </li>
                <li><a href="#">Find Party</a>
                </li>
                <li class="active"><a href="#">Home</a>
                </li>
            </ul>
        </div>

    </div>
    </div>
</nav>
<div class="mainimage">
    <div>
        <h2><i>FIND A GREAT PLACE TO DANCE!</i></h2>
        <p><i>Look for the best places with the music of your preference now.</i>
        </p>
    </div>
</div>