<div>
  <div class="main-image" ng-show="!image">
    <img ng-src="{{location.imageUrl}}"></img>
    <div accept="image/*" class="drop-box" ng-model="image"
    ngf-drag-over-class="'dragover'" ngf-drop ngf-multiple="false" ngf-pattern="'image/*'"
    ngf-select >
      <a class="btn btn-icon" ng-if="isDefaultImage">
        <i class="fa fa-cloud-upload fa-2x"></i>
      </a>
    </div>
  </div>

  <div class="preview" ng-if="image">
    <img ngf-src="image">
    <a class="btn btn-icon blue" ng-click="upload()" ng-show="showUpload()">
      <i class="fa fa-cloud-upload fa-2x"></i>
    </a>
  </img>
  <div class="progress" ng-class="status.current">
    <div aria-valuemax="100" aria-valuemin="0" class="progress-bar" role="progressbar" style="width:{{status.progress}}%"></div>
  </div>
</div>
</div>
