/*Import Google Font*/

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

.right-pane {
  width: 50%;
  position: fixed;
  top : 50px;
  left : 50%;
}

.fullscreen {
  left : 0px !important;
  width: 100% !important;
  height: 100%;
}

.left-pane {
  top : 60px;
  width: 100%;
}

#logo-header {
  max-height: 50px;
  margin-top: -15px;
}
.navbar .brand {
  max-height: 60px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}
.mainimage > div {
  margin-left: 4%;
  position: absolute;
  top: 130px;
}
.mainimage > div > h2 > i {
  font-size: 36px;
  font-style: normal;
  padding: 0px 5px;
  font-family: 'Open Sans', sans-serif;
  color: #000 !important;
  line-height: 50px;
  z-index: 10;
  padding: 0;
  font-weight: 400 !important;
  left: 0;
  background: url(../img/bg-white-text.png) repeat;
}
.mainimage > div > p > i {
  background: url(../img/bg-text.png) repeat;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #FFF;
}
h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
div .image-selector h3 {
  margin-top: 0px;
}
.footer p {
  color: #EEE;
  margin-top: 14px;
}
.btn.btn-default.selected {
  color: #A94442;
  background-color: #F2DEDE !important;
}
.btn-facebook {
  color: #FFF;
  background-color: #3B5998;
}
#auth-modal .modal-dialog {
  /* new custom width */
  width: 300px;
  /* must be half of the width, minus scrollbar on the left (30px) */
}
#toogle-map {
  color: #E74C3C;
  font-size: 10px;
  background: #222;
  z-index: 99;
  width: 100px;
  height: 50px;
  position: fixed;
  left: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}
#toogle-map > p {
  position: relative;
  top: 15px;
  vertical-align:middle;
  text-align: center;
}

/*Back To Top
------------------------------------*/

#topcontrol {
  text-align: center;
  color: #E74C3C;
  z-index: 99;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}
#topcontrol:after {
  top: 10px;
  left: 20px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}
#topcontrol:hover {
  color: #fff;
  background: #E74C3C;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.google-maps {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.sidebar-outer {
  position: relative;
}

div .fixed {
  margin-top: -300px;
  position: fixed;
}

sharesocial {
  float: right;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-device-width: 480px) {
  /* Styles */
  .mainimage > div {
    margin-left: 4%;
    position: absolute;
    top: 100px;
  }
  .mainimage {
    position: relative;
    width: 100%;
    background: url(../img/bg-mobile.jpg) repeat-x;
    height: 240px;
  }
  .mainimage > div > h2 > i {
    padding: 0px 0px;
    font-size: 20px;
    line-height: 0.5;
  }
  .mainimage > div > p > i {
    font-size: 10px;
  }
  div .image-selector h3 {
    font-size: 14px;
  }
  .well {
    margin-bottom: 5px
  }
  .category-circle {
    height: 100px !important;
  }

  .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .elipsis {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.shadow {
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
}


/* To center the images */

.img-responsive {
  margin: 0 auto;
}

.comment-group{
  display: table;
  padding-top: 10px;
}
div.comment-cell{
  padding-left: 5px;
  width: 100%;
}
div.input-group{
  width: 100%;
}
.comment-cell{
  padding-top: 0px;
  display: table-cell;
  vertical-align: top;
}

img.avatar {
  width: 40px;
  height: 40px;
}


/* Desktop ----------- */

@media only screen and (min-device-width: 481px) {
  /* Styles */
  .mainimage {
    position: relative;
    width: 100%;
    background: url(../img/bg.jpg) repeat-x;
    height: 280px;
    /* for IE 6 */
  }
  .content {
    min-height: 700px;
  }
}



.preview {
    clear: both;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    text-align: center;
}
.dragover {
    border: 2px dashed blue;
}

.progress {
    width: 100%;
    height: 2px !important;
}

.progress.uploading div {
    background: blue;
}

.progress.success div {
    background: green;
}
.progress.failed div {
    background: red;
}

div.main-image a {
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

div.preview a {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn-icon {
	border-radius:50%;
	width:50px;
	height:50px;
	line-height:40px;
    background-color:#fcfcfc;
    color:black;
}
.btn-icon i {
    position: relative;
    top: 4px;
    left: -3px;
}
.btn-icon:active,.btn-icon:focus,.btn-icon:hover {
	border-color:transparent;
    background-color:#D1D1D1 !importart;
    color:red;
}

i .number {
    padding: 2px;
    font-size: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 20px;
    height: 20px;
    position: relative;
    left : -10px;
    top: -8px;
    background-color: #F44336;
    color: #fff;
}

.card-list {
  position: relative;
  float: right;
}
/** CARDS **/

.rated {
  color: #F44336 !important;
}


.card {
	position:relative;
	background-color:#fff;
	box-sizing:border-box;
	border-radius:2px;
	margin-bottom:30px;
  max-width: 640px;
}


.card .btn-icon {
	border-radius:50%;
	width:50px;
	height:50px;
	line-height:40px
}

.card .card-title {
	font-size:17px;
	font-weight:400;
	margin:0;
	line-height:16px
}
.card .card-title.activator {
	cursor:pointer
}
.card .card-image {
	position:relative;
}
.card .card-image img {
	border-radius:2px 2px 0 0;
	position:relative;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
}
.card .card-image .card-title {
	position:absolute;
	bottom:0;
	left:0;
	padding:20px;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,.6)
}

.card .card-action {
	padding:8px
}


}
