/*Import Google Font*/

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
}

#logo-header {
  max-height: 50px;
  margin-top: -15px;
}
.navbar .brand {
  max-height: 60px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}
.mainimage > div {
  margin-left: 4%;
  position: absolute;
  top: 130px;
}
.mainimage > div > h2 > i {
  font-size: 36px;
  font-style: normal;
  padding: 0px 5px;
  font-family: 'Open Sans', sans-serif;
  color: #000 !important;
  line-height: 50px;
  z-index: 10;
  padding: 0;
  font-weight: 400 !important;
  left: 0;
  background: url(../img/bg-white-text.png) repeat;
}
.mainimage > div > p > i {
  background: url(../img/bg-text.png) repeat;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #FFF;
}
h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
div .image-selector h3 {
  margin-top: 0px;
}
.footer p {
  color: #EEE;
  margin-top: 14px;
}
.btn.btn-default.selected {
  color: #A94442;
  background-color: #F2DEDE !important;
}
.btn-facebook {
  color: #FFF;
  background-color: #3B5998;
}
#auth-modal .modal-dialog {
  /* new custom width */
  width: 300px;
  /* must be half of the width, minus scrollbar on the left (30px) */
}
#toogle-map {
  color: #E74C3C;
  font-size: 10px;
  background: #222;
  z-index: 99;
  width: 100px;
  height: 50px;
  position: fixed;
  left: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}
#toogle-map > p {
  position: relative;
  top: 15px;
  vertical-align:middle;
  text-align: center;
}

/*Back To Top
------------------------------------*/

#topcontrol {
  text-align: center;
  color: #E74C3C;
  z-index: 99;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}
#topcontrol:after {
  top: 10px;
  left: 20px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}
#topcontrol:hover {
  color: #fff;
  background: #E74C3C;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.google-maps {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.sidebar-outer {
  position: relative;
}

div .fixed {
  margin-top: -300px;
  position: fixed;
}

sharesocial {
  float: right;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-device-width: 480px) {
  /* Styles */
  .mainimage > div {
    margin-left: 4%;
    position: absolute;
    top: 100px;
  }
  .mainimage {
    position: relative;
    width: 100%;
    background: url(../img/bg-mobile.jpg) repeat-x;
    height: 240px;
  }
  .mainimage > div > h2 > i {
    padding: 0px 0px;
    font-size: 20px;
    line-height: 0.5;
  }
  .mainimage > div > p > i {
    font-size: 10px;
  }
  div .image-selector h3 {
    font-size: 14px;
  }
  .well {
    margin-bottom: 5px
  }
  .category-circle {
    height: 100px !important;
  }

  .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .elipsis {
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.shadow {
  -moz-box-shadow:    1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow:         1px 1px 1px 1px #ccc;
}


/* To center the images */

.img-responsive {
  margin: 0 auto;
}

.comment-group{
  display: table;
  padding-top: 10px;
}
div.comment-cell{
  padding-left: 5px;
  width: 100%;
}
div.input-group{
  width: 100%;
}
.comment-cell{
  padding-top: 0px;
  display: table-cell;
  vertical-align: top;
}

img.avatar {
  width: 40px;
  height: 40px;
}


/* Desktop ----------- */

@media only screen and (min-device-width: 481px) {
  /* Styles */
  .mainimage {
    position: relative;
    width: 100%;
    background: url(../img/bg.jpg) repeat-x;
    height: 280px;
    /* for IE 6 */
  }
  .content {
    min-height: 700px;
  }
}



.preview {
    clear: both;
}

.preview img, .preview audio, .preview video {
    max-width: 320px;
    max-height: 240px;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 320px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.progress {
    width: 320px;
}

.progress div {
    background: orange;
}



i .number {
    padding: 2px;
    font-size: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 20px;
    height: 20px;
    position: relative;
    left : -5px;
    top: -8px;
    background-color: #ff0000;
    color: #fff;
}

/** CARDS **/

.card {
	position:relative;
	background-color:#fff;
	box-sizing:border-box;
	border-radius:2px;
	margin-bottom:30px
}
.card.card-flip {
	overflow:hidden
}
.card .card-profile {
	position:relative;
	z-index:1;
	margin-top:-62px;
	border-radius:50%;
	padding:5px;
	background-color:#FFF;
	-webkit-box-shadow:0 -3px 3px rgba(0,0,0,.2);
	box-shadow:0 -3px 3px rgba(0,0,0,.2)
}
.card .list-group,.card .pagination {
	margin:0
}
.card .card-profile img[src*=svg] {
	width:75px;
	height:75px
}
.card .activator {
	cursor:pointer
}
.card .list-group .list-group-item {
	border:none;
	border-top:1px solid #F0F0F0;
	font-size:16px;
	padding:10px 15px
}
.card .list-group .list-group-item img {
	max-height:40px
}
.card .list-group .list-group-item .list-group-item-heading {
	font-size:14px;
	margin-bottom:0;
	line-height:20px
}
.card .list-group .list-group-item .list-group-item-text {
	font-size:12px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block
}
.card .list-group .list-group-item .list-actions {
	float:right;
	position:relative;
	margin:-10px -15px
}
.card .list-group .list-group-item .btn {
	font-size:18px;
	line-height:36px
}
.card .list-group .list-group-item:first-child {
	border:none
}
.card .btn-icon {
	border-radius:50%;
	width:40px;
	height:40px;
	font-size:22px;
	padding:0;
	line-height:40px
}
.card .card-header {
	padding:20px;
	background-color:#FCFCFC
}
.card .card-header .actions {
	line-height:40px;
	font-size:20px;
	float:right
}
.card .card-header .floating-actions {
	position:absolute;
	z-index:2;
	bottom:-20px;
	right:35px
}
.card .card-header .floating-actions .btn {
	box-shadow:none
}
.card .card-header .floating-actions .btn:hover {
	-webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
	box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
.card .card-header.alert {
	color:#fff
}
.card .card-header.alert-success {
	background-color:#2196F3
}
.card .card-header.alert-info {
	background-color:#00bcd4
}
.card .card-header.alert-warning {
	background-color:#ffab40
}
.card .card-header.alert-danger {
	background-color:#F44336
}
.card .card-title {
	font-size:17px;
	font-weight:400;
	margin:0;
	line-height:16px
}
.card .card-title.activator {
	cursor:pointer
}
.card .card-image {
	position:relative
}
.card .card-image img {
	border-radius:2px 2px 0 0;
	position:relative;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%
}
.card .card-image .card-title {
	position:absolute;
	bottom:0;
	left:0;
	padding:20px;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,.6)
}
.card .card-content {
	border-radius:0 0 2px 2px;
	box-sizing:border-box
}

.card .card-content p > *{
  vertical-align : middle;
}

.card .card-content p > a {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}

.card .card-content,.card .card-reveal {
	padding:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box
}
.card .card-content p {
	margin:0
}
.card .card-action {
	padding:8px
}
.card.bordered .card-action {
	border-top:1px solid #F0F0F0
}
.card.bordered .card-header {
	border-bottom:1px solid #F0F0F0
}
.card .card-reveal {
	position:absolute;
	background-color:#FFF;
	width:100%;
	overflow-y:auto;
	top:100%;
	height:100%;
	z-index:1;
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0);
	-webkit-transition:-webkit-transform .3s ease-in-out;
	-moz-transition:-moz-transform .3s ease-in-out;
	-o-transition:-o-transform .3s ease-in-out;
	transition:transform .3s ease-in-out;
	box-sizing:border-box
}
.card .card-reveal.active {
	-webkit-transform:translate(0,-100%);
	-ms-transform:translate(0,-100%);
	-o-transform:translate(0,-100%);
	transform:translate(0,-100%)
}
.card .card-reveal .card-title {
	cursor:pointer;
	display:block
}
.card.small {
	font-size:13px
}
.card.small .card-action,.card.small .card-header {
	padding:10px 15px
}
.card.small .card-action .action,.card.small .card-header .action {
	margin-top:-5px
}
.card.small .card-action .action .btn-icon,.card.small .card-header .action .btn-icon {
	width:25px;
	height:25px;
	font-size:13px;
	line-height:25px
}
.card.small .card-title {
	font-size:14px
}
.card.small .card-content {
	padding:15px
}
.card.large .card-content {
	padding:25px
}
.card.large .card-title {
	font-size:26px;
	padding-bottom:5px
}


}
