<div class="about">
  <div class="container">
    <div class="about-main">
      <div class="about-top">
        <h3>ABOUT US</h3>
        <h4>Welcome to Up Salsa</h4>
      </div>
      <div class="about-wedo">
        <div class="col-md-4 about-top-img">
          <img src="assets/img/logo1-default.png" alt="" class="img-responsive" height="130" width="350">
        </div>
        <div class="col-md-8 about-wedo-right">
          <div class="about-a">
            <p>You love dancing salsa, bachata, kizomba...?</p>
            <p align="justify">
              Up Salsa is the place where you will find all classes, workshops, events and special offers in your city.
            </p><br>
            <p>You have a school and you are looking to promote it?</p>
            <p>Up Salsa is the perfect place to find new students and announce your classes and events!</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
