<div class="left-pane" ng-show="isListVisible">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <locationcard data-city="city" data-location="location"></locationcard>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<div ng-class="{'right-pane' : !isMobile, fullscreen : isMobile}">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="google-maps" ng-show="isMapVisible">
        <iframe frameborder="0" id="maps-iframe" style="border:0"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-1">
    <div class="">
      <h1>
        Upcoming Events
      </h1>
      <button class="btn btn-default" ng-click="createEvent()" type="submit">Add Event</button>
    </div>
    <div class="">
      <editableeventcard data-location="location" data-on-cancel="onEvent()" data-on-save="onEvent(event)" ng-if="creatingEvent"></editableeventcard>
    </div>
    <div ng-repeat="event in events | orderBy : event.start.dateTime ">
      <eventcard data-city="city" data-event="event" data-ng-mouseenter="highlightLocation(event.location)"></eventcard>
    </div>
  </div>
</div>


</div>
