<div class="left-pane" ng-show="isListVisible">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <div class="">
        <h1>
          Places
        </h1>
        <p ng-if="loading">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </p>
      </div>

      <div infinite-scroll-distance="3" infinite-scroll="loadMore()">
        <div ng-repeat="location in locations">
          <locationcard data-options="{details:true}" data-location="location" data-ng-mouseenter="highlightLocation(location)"></locationcard>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<div ng-class="{'right-pane' : !isMobile, fullscreen : isMobile}">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="google-maps" ng-show="isMapVisible">
        <iframe frameborder="0" id="maps-iframe" style="border:0"></iframe>
      </div>
    </div>
  </div>
</div>



<div id="toogle-map" ng-click="toogleView()" ng-if="canToggleView">
  <p>
    <i class="fa fa-2x" ng-class="isMapVisible ? 'fa-list' : 'fa-map-o' "></i>
    {{isMapVisible ? 'Show List' : 'Show Map' }}</p>
</div>
