<div class="left-pane" ng-show="isListVisible">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-md-offset-1">
      <h1>
        {{location.name}}
      </h1>
      <locationcard data-options="{event:true,edit:true}" data-location="location" data-ng-mouseenter="highlightLocation(location)"></locationcard>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<div ng-class="{'right-pane' : !isMobile, fullscreen : isMobile}">
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="google-maps" ng-show="isMapVisible">
        <iframe frameborder="0" id="maps-iframe" style="border:0"></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-md-10 text-center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/mrbMcJ5XEJ8" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-md-5 col-md-offset-1">
    <div class="">
      <h1 ng-if="events.length">
        Upcoming Events
      </h1>
    </div>
    <div ng-repeat="event in events track by $index | orderBy : event.start.dateTime ">
      <eventcard data-options="{details:true}" data-event="event" data-ng-mouseenter="highlightLocation(event.location)"></eventcard>
    </div>
  </div>
</div>
